.container {
    margin-bottom: 2rem;

    &:hover .left,
    &:hover .right {
        opacity: 1;
    }

    h2 {
        margin-left: 2rem;
    }

    .left, .right {
        width: 2.5rem;
        height: 225px;
        background: #00000090;
        transition: opacity, .2s;
        opacity: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        
        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
            
        img {
            height: 3rem;
        }
    }

    .listarea {
        padding-left: 2rem;
        overflow-x: hidden;

        .list {
            transition: margin, .5s
        }

        .item {
            width: 150px;
            cursor: pointer;
            display: inline-block;

            img {
                width: 100%;
                transform: scale(.9);
                transition: all .2s;

                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}


// mobile

@media (max-width: 768px) {
    .container {
        .left, .right {
            opacity: 1;
        }

        h2 {
            margin-left: 1rem;
        }

        .listarea {
            padding-left: 1rem;
        }
    }
}