.container {
    margin-bottom: 2rem;

    h2 {
        margin-left: 2rem;
    }

    .listarea {
        padding-left: 2rem;
        overflow-x: hidden;

        // &:hover {

        // }

        .list {


            .item {
                width: 150px;
                cursor: pointer;
                display: inline-block;

                img {
                    width: 100%;
                    transform: scale(.9);
                    transition: all .2s;

                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}