:root {
  --background: #111;
  --background-2: #333;
  --font-color: #fff;
  --gray: #999;
  --green: #46d369;
  --red: #e50914;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background: var(--background);
  color: var(--font-color);
}

button, a {
  color: inherit;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--red);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--red), 0 0 5px var(--red);
}

/* responsive fonts */
@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}